S3/Response/SerializableAttribute.cs
Test/Web References/doc.s3.amazonaws.com/AmazonS3.wsdl
Test/Web References/doc.s3.amazonaws.com/AmazonS3.xsd
Test/Web References/doc.s3.amazonaws.com/Reference.cs
Test/Web References/doc.s3.amazonaws.com/Reference.map
